
$base_zindex: 0;

.ff-container {
  display: inline-block;
  position: relative;
  background: rgba(0, 0, 0, 0.5) url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHdpZHRoPSc1MHB4JyBoZWlnaHQ9JzUwcHgnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIiBjbGFzcz0idWlsLXNwaW4iPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJub25lIiBjbGFzcz0iYmsiPjwvcmVjdD48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MCA1MCkiPjxnIHRyYW5zZm9ybT0icm90YXRlKDApIHRyYW5zbGF0ZSgzNCAwKSI+PGNpcmNsZSBjeD0iMCIgY3k9IjAiIHI9IjgiIGZpbGw9IiNmZmZmZmYiPjxhbmltYXRlIGF0dHJpYnV0ZU5hbWU9Im9wYWNpdHkiIGZyb209IjEiIHRvPSIwLjEiIGJlZ2luPSIwcyIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiPjwvYW5pbWF0ZT48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InNjYWxlIiBmcm9tPSIxLjUiIHRvPSIxIiBiZWdpbj0iMHMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIj48L2FuaW1hdGVUcmFuc2Zvcm0+PC9jaXJjbGU+PC9nPjxnIHRyYW5zZm9ybT0icm90YXRlKDQ1KSB0cmFuc2xhdGUoMzQgMCkiPjxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSI4IiBmaWxsPSIjZmZmZmZmIj48YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJvcGFjaXR5IiBmcm9tPSIxIiB0bz0iMC4xIiBiZWdpbj0iMC4xMnMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIj48L2FuaW1hdGU+PGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJzY2FsZSIgZnJvbT0iMS41IiB0bz0iMSIgYmVnaW49IjAuMTJzIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlVHJhbnNmb3JtPjwvY2lyY2xlPjwvZz48ZyB0cmFuc2Zvcm09InJvdGF0ZSg5MCkgdHJhbnNsYXRlKDM0IDApIj48Y2lyY2xlIGN4PSIwIiBjeT0iMCIgcj0iOCIgZmlsbD0iI2ZmZmZmZiI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0ib3BhY2l0eSIgZnJvbT0iMSIgdG89IjAuMSIgYmVnaW49IjAuMjVzIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlPjxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0ic2NhbGUiIGZyb209IjEuNSIgdG89IjEiIGJlZ2luPSIwLjI1cyIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiPjwvYW5pbWF0ZVRyYW5zZm9ybT48L2NpcmNsZT48L2c+PGcgdHJhbnNmb3JtPSJyb3RhdGUoMTM1KSB0cmFuc2xhdGUoMzQgMCkiPjxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSI4IiBmaWxsPSIjZmZmZmZmIj48YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJvcGFjaXR5IiBmcm9tPSIxIiB0bz0iMC4xIiBiZWdpbj0iMC4zN3MiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIj48L2FuaW1hdGU+PGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJzY2FsZSIgZnJvbT0iMS41IiB0bz0iMSIgYmVnaW49IjAuMzdzIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlVHJhbnNmb3JtPjwvY2lyY2xlPjwvZz48ZyB0cmFuc2Zvcm09InJvdGF0ZSgxODApIHRyYW5zbGF0ZSgzNCAwKSI+PGNpcmNsZSBjeD0iMCIgY3k9IjAiIHI9IjgiIGZpbGw9IiNmZmZmZmYiPjxhbmltYXRlIGF0dHJpYnV0ZU5hbWU9Im9wYWNpdHkiIGZyb209IjEiIHRvPSIwLjEiIGJlZ2luPSIwLjVzIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlPjxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0ic2NhbGUiIGZyb209IjEuNSIgdG89IjEiIGJlZ2luPSIwLjVzIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlVHJhbnNmb3JtPjwvY2lyY2xlPjwvZz48ZyB0cmFuc2Zvcm09InJvdGF0ZSgyMjUpIHRyYW5zbGF0ZSgzNCAwKSI+PGNpcmNsZSBjeD0iMCIgY3k9IjAiIHI9IjgiIGZpbGw9IiNmZmZmZmYiPjxhbmltYXRlIGF0dHJpYnV0ZU5hbWU9Im9wYWNpdHkiIGZyb209IjEiIHRvPSIwLjEiIGJlZ2luPSIwLjYycyIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiPjwvYW5pbWF0ZT48YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InNjYWxlIiBmcm9tPSIxLjUiIHRvPSIxIiBiZWdpbj0iMC42MnMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIj48L2FuaW1hdGVUcmFuc2Zvcm0+PC9jaXJjbGU+PC9nPjxnIHRyYW5zZm9ybT0icm90YXRlKDI3MCkgdHJhbnNsYXRlKDM0IDApIj48Y2lyY2xlIGN4PSIwIiBjeT0iMCIgcj0iOCIgZmlsbD0iI2ZmZmZmZiI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0ib3BhY2l0eSIgZnJvbT0iMSIgdG89IjAuMSIgYmVnaW49IjAuNzVzIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlPjxhbmltYXRlVHJhbnNmb3JtIGF0dHJpYnV0ZU5hbWU9InRyYW5zZm9ybSIgdHlwZT0ic2NhbGUiIGZyb209IjEuNSIgdG89IjEiIGJlZ2luPSIwLjc1cyIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiPjwvYW5pbWF0ZVRyYW5zZm9ybT48L2NpcmNsZT48L2c+PGcgdHJhbnNmb3JtPSJyb3RhdGUoMzE1KSB0cmFuc2xhdGUoMzQgMCkiPjxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSI4IiBmaWxsPSIjZmZmZmZmIj48YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJvcGFjaXR5IiBmcm9tPSIxIiB0bz0iMC4xIiBiZWdpbj0iMC44N3MiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIj48L2FuaW1hdGU+PGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJzY2FsZSIgZnJvbT0iMS41IiB0bz0iMSIgYmVnaW49IjAuODdzIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlVHJhbnNmb3JtPjwvY2lyY2xlPjwvZz48L2c+PC9zdmc+') center center no-repeat;

  .ff-image {
    z-index: $base_zindex;
    vertical-align: top;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;

    &.ff-image-ready {
      opacity: 1;
    }
  }

  .ff-canvas {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;

    z-index: $base_zindex + 1;
    vertical-align: top;
    opacity: 0;

    &.ff-responsive {
      width: 100%;
    }

    &.ff-canvas-ready {
      transition: opacity 300ms;
      opacity: 1;
    }

    &.ff-canvas-active {
      transition: none;
      opacity: 0;
    }
  }

  &.ff-responsive {
    width: 100%;

    .ff-image {
      width: 100%;
    }

    .ff-canvas-ready {
      width: 100%;
    }
  }
  
  .ff-playpause{
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAYAAABccqhmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABZlJREFUeNrs3e2RFFUUBuBTlv8xA2cjACNgiMDNwCECzYA2AtcIGCMQI7CJQIjAIQOJALrZnpqiFNldZvvrfZ6q/s1MU/flnjP3cKsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAINDj7nm3gOexvyrSfOUVzNrf3fO914AAyLTpnhfd82f3PPQ6EACZtt3zqnt+6Z4HXgcCINNP3XPonh+9CgRApm+652roD2hcIgCC+wPt0B/41utAAOT2B/qy4Jn+AAIgVzMEwQ9eBQIgtz+w756/9AcQALkeDf2B3/UHEAC5Luv6/ID+AAIguCxohiDQH0AAhNoM/QHHihEAwbbDbuC5sgABkGtXp/MDCACC+wPGjgUA4f2B49ixnw0FAMH9gb4sMHYsAAhm7FgAoD9g7FgAoD/gWLEAIN5lGTsWAMRrytixACC+P7AvY8cCgGjHsePn+gMCgFy7MnYsAIgvC5ohCBwrFgCE2pTbjAQA8bZl7FgAoD9Qxo4FAPoD5VixACC+P9CWsWMBQHx/oC8LjB0LAIIZOxYA6A98GDt2rFgAEMxtRgIAjB0LAHCbkQAg3qZOtxnpDwgAQm3L2LEAIN6uTmPHCAACuc1IAICxYwEAxo4FANRp7NixYgFAcH/AbUYCAP0BY8cCAP0BY8cCgHjHsWPHigUAwf2BfRk7FgBEM3YsAODD2HH8bUYCgPSyoKngsWMBAMFjxwIATrZ1Gjt+IAAg065CbjMSAPD//YFVjx0LAPh8f2C1Y8cCAG7eH+h/LVjVsWIBALezqtuMBADcrT+wirFjAQBf1h9oa8HHigUAfLnF3mYkAOB8mlrY2LEAgPP3B/a1kLFjAQD34zh2POvbjAQA3K9dzXjsWADAOGVBUzMcOxYAMJ5NncaOHwoAyLStmdxmJABg2v7AoSYcOxYAMI/+wCTHigUAzKc/0NbItxkJAJhff6AvC0YZOxYAEOxrrwBmpS8Ddt3zRgBAjsOw8F+O+YcqAWBa/9T1rwAXYy9+OwCY1r6u/4uxt3oAkFXn9wv/9dQfRAkA49f5T+aw+O0AYLw6/2p43s7pgwkAuP86v6mRftYTADAPr4Y6/+WcP6QAgPNv9/uF/9sSPqwmIJxPv9XfLGXx2wHAebwY/tV/s7QPLgDg7g41wfFdJQDMo86/WPLiFwBwe1dDnf/rGr6MEgBupq2ZHN8VADBund8v/D/W+OUEAHy6zu+3+z+v+UsKAPi3fU08pjsWTUD4uM7fds/ThMVvBwCnOr+pBZ3gEwBwvjp/dmO6AgDu12KP7woAuLtFjOkKADj/dn8xY7pj8SsACY7Hdy1+OwCCtDXiLTsCAObhUAsf01UCwN3r/AuL3w6ALPsKOb4rAODjOn91Y7oCAD5f5692TFcAwKfr/NWP6QoA+O86vyk/6wkA4ur8fuHr7AsAwur8fuE7wScACNNU8JiuACCVMV0BQCBjuhNwFJipHY/vfmfxCwCyrOqWHSUA3ExbxnQFAHEOZUxXCUBknd+UMV07AOLsy5iuACCyzjemKwAIrPON6QoAAuv86Ft2BADJdX5TftYTAERxfFcAELrdd8vOCjgHwG31W/2NxW8HQBZjugKAQIdyfFcJQGyd7/iuACCMMV0lAIHaMqZrB0BknX/ZPU8sfjsAsup8t+wIAALty5iuAPAKIut8Y7roAQTW+buhzrf4sQMIq/ON6SIAwji+iwAIZEwXARC63Temy41pAq5HU8Z0sQOI05bjuwiAOIcyposSILbON6aLAAhjTBclQGid7/guAiCwznfLDgIg1IVXAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEeS/AAPd3PdHF2ALSAAAAAElFTkSuQmCC');
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
	z-index: 100;
	
	&.ff-playing{
		display: none;
	}
  }
  
}